#navbar {
 
  
}

.leftbox{
    background-color: black;
    float: left;
    width: 18%;

}
.leftbox img{
    object-fit: cover;
    width: 130px;
    height: 150px;
    
}

{
    position: absolute;
    bottom: 0px;
}

a:hover{
    color: cyan;
}

#about{
    padding-bottom: 10px;
}


#black{
    color: black;
}






.rightbox {
    float: right;
    width: 82%;
}

#footer {
    padding-top: 66px;
    padding-bottom: 66px;
}